<div class="tc-black-1 p+" flex-container="row" flex-column="12">
    <div flex-item="1"></div>
    <div flex-item="10">
    	<div class="p+">
		    <div class="card">
		        <div class="p+">
		            <strong class="fs-headline display-block">Login</strong>
		            
		            <div class="paragraph fs-body-1 mt+">
		               
		            </div>
		        </div>
		 
		        <div class="card__actions">
		            <lx-button lx-color="black" lx-type="raised">Iniciar sesión</lx-button>
		           
		        </div>
		    </div>
		</div>
    </div>
    <div flex-item="1"></div>
</div>
 