<div class="tc-whblackite-1 p+" flex-container="row" flex-column="12">
    <div flex-item="1"></div>
    <div flex-item="10" >
    	<div class="p+">
		    <div class="bgc-green-A400 card">
		        <div class="p+">
		            <strong class="fs-headline display-block">Registro</strong>
		            
		            <div class="paragraph fs-body-1 mt+">
		               
		            </div>
		        </div>
		 
		        <div class="card__actions">
		            <lx-button lx-color="blue" lx-type="raised">Registrar</lx-button>
		           
		        </div>
		    </div>
		</div>
    </div>
    <div flex-item="1"></div>
</div>
 